$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

/*-- variables all module --*/
$clr-txt: #fff;


/*------------------------------ DISPLAY FLASH MESSAGE MODULE -------------------------------------------------------*/
.RibsFlashMessage {
	width: 400px;
	color: $clr-txt;
	margin: 0px;
	padding: 0;
	display: none;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 999;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 4px 20px rgba(0,0,0, 0.5);

	@media all and (max-width: 576px) {
		width: 90%;
	}
	
	&.error  {
		background-color: #FA565D;
		color: #FFF;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa565d), color-stop(100%, #d1363d));
		background-image: -webkit-linear-gradient(top, #fa565d, #d1363d);
		background-image: -moz-linear-gradient(top, #fa565d, #d1363d);
		background-image: -o-linear-gradient(top, #fa565d, #d1363d);
		background-image: -ms-linear-gradient(top, #fa565d, #d1363d);
		background-image: linear-gradient(top, #fa565d, #d1363d);
	}
	
	&.success {
		background-color: #63a153;
		color: #FFF;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81c270), color-stop(100%, #63a153));
		background-image: -webkit-linear-gradient(top, #81c270, #63a153);
		background-image: -moz-linear-gradient(top, #81c270, #63a153);
		background-image: -o-linear-gradient(top, #81c270, #63a153);
		background-image: -ms-linear-gradient(top, #81c270, #63a153);
		background-image: linear-gradient(top, #81c270, #63a153);
		text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
	}
	
	&.info {
		background-color: #005580;
		color: #FFF;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0078B5), color-stop(100%, #005580));
		background-image: -webkit-linear-gradient(top, #0078B5, #005580);
		background-image: -moz-linear-gradient(top, #0078B5, #005580);
		background-image: -o-linear-gradient(top, #0078B5, #005580);
		background-image: -ms-linear-gradient(top, #0078B5, #005580);
		background-image: linear-gradient(top, #0078B5, #005580);
		text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
	}
	
	.notification {
		cursor: pointer;
		position: relative;
		min-height: 60px;
		padding: 10px 10px;
		
		.left {
			position: absolute;
			height: 100%;
			padding: 0 10px;
			top: 0;
			left: 0;
			border-right: 1px solid rgba(0, 0, 0, 0.2);
			
			/*for icons*/
			.icone {
				font-size: 30px;
				line-height: 0px;
				margin-top: 15px;
				text-align: center;
			}
		}
		
		.right {
			margin-left: 50px;
			
			p {
				padding: inherit;
				margin: inherit;
				font-family: "Arial", arial, serif;
				clear: both;
				margin-left: 0px;
			}
			
			ul {
				li {
					padding: inherit;
					margin: inherit;
					padding: 10px 10px;
					float: left;
					font-family: "Arial", arial, serif;
					clear: both;
					
					&:first-child {
						margin-top: -16px;
					}
					&:last-child {
						margin-bottom: -16px;
					}
				}
			}
		}
	}
}